<%= form_for([@bar, @user]) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_area :phone_number %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.text_area :time %>
  </p>
  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>