<p>
  <strong>Name:</strong>
  <%= user.name %>
</p>
 
<p>
  <strong>Phone Number:</strong>
  <%= user.phone_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= user.time%>
</p>

<p>
  <strong>Notes:</strong>
  <%= user.notes %>
</p>

<p>
  <%= link_to 'Delete User', [user.bar, user],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>